.slashBar{
    width:85%;
    top:90% !important;
  }
  #slashBarInput{
    width: 98.5%;
  }
  #slashBarInputContainer{
    width: 100%;
  }

  #splitPeekerFrame{
    left:-5%;
    border-radius: 10px;
    outline: none;
    z-index:10000;
    border:0px;
    /* position:absolute; */
    overflow: hidden;
    opacity:0.7;
    background-color: white;
    height:100%;
    width: 55%;
    overflow: hidden;
    /* width:var(--splitpeeker-width); */
    position:relative;
  
  }
  

  #peekBoxPage.textLayer-visible .textLayer {
    opacity: 1.0;
  }
  
  #peekBoxPage.textLayer-visible .canvasWrapper {
    background-color: rgba(128, 255, 128, 1);
  }
  #peekBoxPage.textLayer-visible .canvasWrapper canvas {
    mix-blend-mode: screen;
  }
  
  
  #peekBoxPage.textLayer-visible .textLayer > span {
    background-color: rgba(255, 255, 0, 0.1);
    color: rgba(0, 0, 0, 1);
    border: solid 1px rgba(255, 0, 0, 0.5);
    box-sizing: border-box;
  }
  
  #peekBoxPage.textLayer-hover .textLayer > span:hover {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1);
  }
  #peekBoxPage.textLayer-shadow .textLayer > span {
    background-color: rgba(255, 255, 255, 0.6);
    color: rgba(0, 0, 0, 1);
  }
  
  
  #peekBoxContainer{
    position: absolute;
  }
  
  
  #stallionContextMenu{
    /* min-width:100px; */
    min-height: 20px;
    position: absolute;
    border-image: 2px solid linear-gradient(-90deg, #555555, #222222);
    background-color:#333333;
    color: white;
    /* border: 1px solid black; */
    border-radius: 15%;
    box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
    
  }
  
  
  .stallionContextMenuUL{
    margin-right: 4px;
    padding: 4px 6px 4px 4px;
    border-radius: 15%;
  }
  
  .stallionContextMenuItem{
    cursor: pointer !important;
    list-style: none;
    padding: 5px 0px 5px 5px;
    font-size:13px;
    border-radius: 15%;    
  }
  
  .stallionContextMenuItem:hover{
    cursor: pointer !important;
    background-color:#111111;
    background-color:black;
    /* font-weight: bold; */
    
  }
  
  
#sidebarContainer{
  box-shadow: -3px 3px rgba(0,0,0,0.6); 
  border-radius: 10%;
}
#toolbarSidebar{
  border-radius: 10%;
}


#stallionToast{
  opacity: 1;
  font-size: 12px;
  color:white;
  font-weight: bold;
  background-color: teal;
  padding: 8px 8px 8px 8px;
  box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
  border-radius: 10%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 10%;
  margin:7px;
}