.page{
  border-radius: 50px;
}

.peekBox{
  border-radius: 10%;
  position:relative;
  top:0px;
  padding:0px;
  cursor:grab !important;
  float: left;
  clear: left;
  width:100%;
  height:400px; 
  /* width:500px;
  height:450px; */

}

.peekBoxOptions{
  opacity:0.5;
  height:40px;
  position: absolute;
  bottom: 3%;
  background-image: url(images/texture.png),
  linear-gradient(rgba(77, 77, 77, 0.90), rgba(64, 64, 64, 0.25));

}

/* W3Schools */

.arrowright {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;

  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.arrowleft {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.arrowup {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;

  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.arrowdown {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;

  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* W3Schools */


#oneTimeBackButton{
  box-shadow: 0 0 3px;
  border: 0px solid black;
  background-color: #112299;
  position: absolute;
  top:5%;
  z-index: 1000;
  right:5%;
}



.peekBoxContainer *{
  margin:0px;
}
.peekBoxContainer{
  zoom:0.8;
  position: absolute;
  top:30%;
  left:10%;
  opacity:0.9;
  padding-top:6px;
  overflow:hidden;
  border-radius:18px;
  shadow:4px solid black;
  /* border:3px solid black; */
  /* box-shadow: inset -3px 0 0 rgba(0, 0, 0, 0.5); */
  background-image: linear-gradient(rgba(77, 77, 77, 0.90), rgba(64, 64, 64, 0.85));
  width:350px;
}
/* #peekBox .page{
  zoom:0.8;
} */

.slashBar{
    width:85%;
    top:90% !important;
  }
  #slashBarInput{
    width: 98.5%;
  }
  #slashBarInputContainer{
    width: 100%;
  }

  #splitPeekerFrame{
    left: -5%;
    border-radius: 10px;
    outline: none;
    z-index:10000;
    border:0px;
    /* position:absolute; */
    overflow: hidden;
    opacity:0.7;
    background-color: white;
    height:100%;
    width: 55%;
    overflow: hidden;
    /* width:var(--splitpeeker-width); */
    position:relative;
  
  }
  

  #peekBoxPage.textLayer-visible .textLayer {
    opacity: 1.0;
  }
  
  #peekBoxPage.textLayer-visible .canvasWrapper {
    background-color: rgba(128, 255, 128, 1);
  }
  #peekBoxPage.textLayer-visible .canvasWrapper canvas {
    mix-blend-mode: screen;
  }
  
  
  #peekBoxPage.textLayer-visible .textLayer > span {
    background-color: rgba(255, 255, 0, 0.1);
    color: rgba(0, 0, 0, 1);
    border: solid 1px rgba(255, 0, 0, 0.5);
    box-sizing: border-box;
  }
  
  #peekBoxPage.textLayer-hover .textLayer > span:hover {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1);
  }
  #peekBoxPage.textLayer-shadow .textLayer > span {
    background-color: rgba(255, 255, 255, 0.6);
    color: rgba(0, 0, 0, 1);
  }
  
  
  #peekBoxContainer{
    position: absolute;
  }
  
  
  #stallionContextMenu{
    /* min-width:100px; */
    min-height: 20px;
    position: absolute;
    background-color:#333333;
    background: linear-gradient(rgba(10, 10, 10, 0.95), rgba(64, 64, 64, 0.95)); ;
    /* border-image:linear-gradient(rgba(77, 77, 77, 0.90), rgba(64, 64, 64, 0.85)); */
    color: white;
    /* border: 1px solid black; */
    border-radius: 15%;
    box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
    
  }
  
  
  .stallionContextMenuUL{
    margin-right: 4px;
    padding: 4px 6px 6px 4px;
    border-radius: 15%;
  }
  
  .stallionContextMenuItem{
    cursor: pointer !important;
    list-style: none;
    padding: 5px 0px 5px 5px;
    font-size:13px;
    border-radius: 15%;    
  }
  
  .stallionContextMenuItem:hover{
    cursor: pointer !important;
    background-color:#111111;
    background-color:black;
    /* font-weight: bold; */
    
  }

#viewerContainer{
  top: 0px;
}

#sidebarContainer{
  box-shadow: -3px 3px rgba(0,0,0,0.6); 
  border-radius: 10%;
}
#toolbarSidebar{
  border-radius: 10%;
}


#stallionToast{
  opacity: 1;
  font-size: 12px;
  color:white;
  font-weight: bold;
  background-color: teal;
  padding: 8px 8px 8px 8px;
  box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
  border-radius: 20%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 10%;
  margin:7px;
}


